@model WebAppProject.Models.ProjectRole
<div>
    <h2 class="text-danger">Administration Panel</h2>
</div>
<hr />
<div><a asp-action="Create">Add a new role</a></div>
<div><a asp-action="ListRoles">List roles</a></div>
<div><a asp-action="ListUsers">List users</a></div>
<p></p>
<div><a accesskey="h" id="home" href="../">Go Back</a></div>
