@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is available on <a href="https://github.com/Wehrum">Github!</a> Feel free to download and use. This is open source and will continue to be that way.</p>
